<div th:fragment="board" id="board" xmlns:th="http://www.w3.org/1999/xhtml">

    <input type="hidden" id="gameId" th:value="${game.id}">
    <input type="hidden" id="sectionCount" th:value="${sectionCount}">

    <div style="height:50%;margin-top:2%">
        <div class="row">
            <div class="col-md-4" style="text-align:center;display:flex;align-items: center;justify-content: center;"
                th:each="slot, iter : ${game.slots}">
                <span class="badge badge-info"
                    style="width:50vh;height:50vh;text-align:center;display:flex;align-items: center;justify-content: center;">
                    <i th:id="${'slot_'+iter.index}" th:class="${'bi bi-' + slot.sign.iconClass}" style="font-size:10rem;display:none"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:2%;text-align:center">
        <progress style="width:90%;margin:auto" min="1" max="100" id="progressBar"></progress>
    </div>

    <div class="row" style="margin-top:2%;text-align:center">
        <h3 style="width:100%;text-align:center">Hold space to spin!</h3>
    </div>

</div>