<div th:fragment="board" id="board" xmlns:th="http://www.w3.org/1999/xhtml">

    <div style="height:50%;margin-top:2%" >
        <div class="row">
            <div class="col-md-4" style="text-align:center">
                <span class="badge badge-info" style="width:50vh;height:50vh;text-align:center">U</span>
            </div>
            <div class="col-md-4" style="text-align:center">
                <span class="badge badge-info" style="width:50vh;height:50vh;text-align:center">U</span>
            </div>
            <div class="col-md-4" style="text-align:center">
                <span class="badge badge-info" style="width:50vh;height:50vh;text-align:center">U</span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:2%;text-align:center">
        <h3 style="width:100%;text-align:center">Hold space to spin!</h3>
    </div>

</div>